Importing DNS record gives 'digitalocean_record TTL changed' warning

### Is your feature request related to a problem? Please describe.
For DNS record updates, a warning (added in PR #1157) is given if the TTL values are different.
This does not work when importing resources as no TTL value exists.

Given the following import block:
```hcl
import {
  to = digitalocean_record.example_com-NS
  id = "example.com,123456789"
}
```
the current output is:
```
# digitalocean_record.example_com-NS will be imported
    resource "digitalocean_record" "example_com-NS" {
        domain   = "example.com"
        flags    = 0
        fqdn     = "example.com"
        id       = "123456789"
        name     = "@"
        port     = 0
        priority = 0
        tag      = null
        ttl      = 3600
        type     = "NS"
        value    = "ns1.digitalocean.com."
        weight   = 0
    }

Plan: 1 to import, 0 to add, 0 to change, 0 to destroy.
╷
│ Warning: digitalocean_record TTL changed
│ 
│ The TTL for record ID 123456789 changed from 0 to 3600. DNS requires that
│ multiple records with the same FQDN share the same TTL. If inconsistent
│ TTLs are provided, DigitalOcean will rectify them automatically.
│ 
│ For reference, see RFC 2181, section 5.2:
│ https://www.rfc-editor.org/rfc/rfc2181#section-5.
╵
```
Note how the warning shows an erroneous change from 0 to 3600. While not a problem in itself, it clutters the output when you are importing many records.

### Describe the solution ~~you'd like~~ you've tried
Adding a read of the record in `resourceDigitalOceanRecordImport` allows a true check of the TTL and stops the warning. Though it adds an extra API call per record for the import, it doesn't affect any other functionality.
The alternative would be to suppress the warning if TTL is zero but that requires changing `resourceDigitalOceanRecordRead` and that doesn't feel right...

I have already implemented the change locally and tested without issue, and can create a PR if the change is deemed worthy...

Cheers,
Paul.